/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
*{
    margin:0;
    padding:0;
}
 p{
     margin:0 !important;
 }

 .list-group-item{
     transform:rotate(-45deg) !important;
     border:none !important;
     cursor:pointer !important;
 }
.seat-row {
    display: flex;
    justify-content:center;
}

.seat {
    background-color: #D7D7D7;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 2.2rem;
    margin: 0.30rem 0.1rem 0.3rem 0.3rem;
    line-height: 2.2rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    border:none;
}
    .seat:not(.selected-man, .selected-woman, .empty-seat):hover {
        cursor: pointer;
        transform: scale(1.2);
    }

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 312px;
}
.child{
    width: 25%;
    box-sizing:border-box;

}
.child:nth-child(3n+1){
    margin-right:3rem;
}


.selected-man {
    background-color: #A7BADD;
    cursor:default;
}

.selected-woman {
    background-color: #E8A2DC;
    cursor: default;
}
.reserved {
    background-color: #059862;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.seat-info {
    list-style: none;
}

@media (max-width: 770px) {
    .list-group-item {
        transform: rotate(0deg) !important;
    }
}
.tick-animation {
    width: 10%;
    margin: 2rem auto;
}
.circ {
    opacity: 0;
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.tick {
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    -webkit-transition: stroke-dashoffset 1s 0.5s ease-out;
    -moz-transition: stroke-dashoffset 1s 0.5s ease-out;
    -ms-transition: stroke-dashoffset 1s 0.5s ease-out;
    -o-transition: stroke-dashoffset 1s 0.5s ease-out;
    transition: stroke-dashoffset 1s 0.5s ease-out;
}

.drawn + svg .path {
    opacity: 1;
    stroke-dashoffset: 0;
}


