@model List<City>
@*@{
    ViewData["Title"] = "Home Page";
}*@

<div class="home-select d-flex row">
    <div class="choose-route row">
        <form class="bg-white col-md-8 mt-2" asp-action="FindRoute" asp-controller="BusReservation" onsubmit="return checkForm(this);">
            <fieldset>
                <div class="row justify-content-around">
                    <div class="mb-3 col-md-6">
                        <label class="form-label">Nereden</label>
                        <select class="form-select" name="cityFirst">
                            @foreach (var item in Model)
                            {
                                <option class="form-control" name="cityFirst">@item.CityName</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label class="form-label">Nereye</label>
                        <select class="form-select" name="cityLast">
                            @foreach (var item in Model)
                            {
                                <option class="form-control" name="cityLast">@item.CityName</option>
                            }
                        </select>

                    </div>
                    <div class="mb-3 col-md-6">
                        <label class="form-label" id="validationDate">Tarih</label>
                        <input type="date" class="form-control" name="goingDate" required pattern="\d{1,2}/\d{1,2}/\d{4}">
                    </div>
                    <div class="my-4 col-md-6">
                        <button type="submit" class="btn btn-primary align-self-end mt-2">Rota Ara</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="col-md-4">
            <form asp-action="Search" asp-controller="Ticket" class="my-3">
                <div class="card text-center">
                    <div class="card-header ">
                        Rezervasyon İptal
                    </div>
                    <div class="card-body">
                        <input type="text" name="PnrNo" class="form-control my-3" placeholder="PNR Numarası Giriniz." />
                        <input type="text" name="Email" class="form-control mb-3" placeholder="Email Adresinizi Giriniz." />
                        <button type="submit" class="btn btn-sm btn-danger w-100">Ara</button>
                    </div>

                </div>

            </form>
        </div>
       
    </div>
    <div id="carouselExampleFade" class="carousel slide carousel-fade my-3" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/navbar-image-deeme.jpg" class="d-block w-100" height="700" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/images/slider2.png" class="d-block w-100" height="700" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/images/slider4.png" class="d-block w-100" height="700" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

